<body class="meetup-show">
<div class="meetup-show-page">
<p id="notice"><%= notice %></p>

<div class="row">
<h1 class="col-md-12">
  <strong>Name:</strong> <span class="meetup-highlight"> <%= @meetup.name %> </span>
</h1>

<h1 class="col-md-12">
  <strong>Description:</strong> <span class="meetup-highlight"> <%= @meetup.description %> </span>
</h1>

</div>
<h2>
  <strong>Proposed Dates:</strong>
  <br><br>
<!--   <ul> -->
		  	<div class="row">
			  	<% @meetup.schedules.each do |schedule| %>
				  		<div class="col-md-4">
				  			<img src="/calendar2.png" alt="calendar" class="calender-img" />
				      	<p><%= schedule.date %></p>
<!-- 				      	<p> Name1 : ⭕ </p>
				      	<p> Name2 : ⭕ </p>
				      	<p> Name3 : ⭕ </p> -->
				      	<% schedule.people.each do | person | %>
				      		<p><%= person.name  %></p>
				      	<% end %>
<!-- 				      	<p><%= schedule.people %></p>
 -->
</div>
			    <% end %>
    	   </div>
<!--   </ul> -->
</h2>




<p> <%= link_to 'Edit', edit_meetup_path(@meetup), :class => "btn btn-lg btn-block edit-date-btn" %> </p> <!-- | -->
<%# link_to 'Back', meetups_path %>
</div>
</body>