<body class="meetup-show">
<div class="meetup-show-page">
<p id="notice"><%= notice %></p>

<div class="row">
<h1 class="col-md-12">
  <strong>Name:</strong> <span class="meetup-highlight"> <%= @meetup.name %> </span>
</h1>

<h1 class="col-md-12">
  <strong>Description:</strong> <span class="meetup-highlight"> <%= @meetup.description %> </span>
</h1>

</div>
<h2>
  <strong>Proposed Dates:</strong>
  <br><br>
<!--   <ul> -->
		  	<div class="row">
			  	<% @meetup.schedules.each do |schedule| %>
				  		<div class="col-md-4">
				  			<img src="/calendar2.png" alt="calendar" class="calender-img" />
				      	<p><%= schedule.date %></p>

				      	<% schedule.people.each do |person| %>
									<p><%= person.person_name %></p>
								<% end %>
							</div>
			    <% end %>
    	   </div>
<!--   </ul> -->
</h2>



<div class="row">
	<div class="col-md-4">
		<p> <%= link_to 'Edit Dates', edit_meetup_path(@meetup), :class => "btn btn-lg btn-block edit-date-btn" %> </p> <!-- | -->
	</div>

	<div class="col-md-4">
		<p> <%= link_to 'Edit Names', availables_path(@meetup), :class => "btn btn-lg btn-block edit-name-btn" %> </p>
	</div>

	<div class="col-md-4">
	<button type="button" class="btn btn-success btn-block btn-lg"><a href="<%= @mail %>">  Ping Your Friends</a> </button>
	</div>
</div>
<%# link_to 'Back', meetups_path %>



<br><br>
<a href="/index"> <p> Return to Index Page</p>  </a>
</div>
</body>