<%= form_with scope: :person, url: availables_path, local: true do |form| %>

	<p>
		<%= form.label :partcipant_name %>
		<%= form.text_field :person_name %>
	</p>

<%= form.collection_check_boxes :person_available, @meetup.schedules, :id, :date %>

  <p>
	<%= form.submit %>
  </p>
<% end %>