
<body class="availables-page">
	<div class="availables-start">
		<h3>Add in Name and Availability </h3>

		<%= form_with scope: :meetup, url: availables_path, local: true do |form| %>

		<div class="form-row">
			<div class="col-md-12">
			<p>
				<%= form.label :partcipant_name %>
				<%= form.text_field :person_name, :class => "form-control", placeholder: "Susan Chan" %>
			</p>
			</div>
		</div>
			<div class="form-row check-boxes">
				<%= form.collection_check_boxes :schedule_ids, @meetup.schedules, :id, :date do |b| %>
        <%= b.label class:"label-checkbox col-md-4" do%>
         <%=b.check_box :data => { :toggle => 'toggle', :on => "Yes", :off => "No", :onstyle => "success", :offstyle => "danger" }  %>

<!--          http://www.bootstraptoggle.com/ -->
<!-- https://stackoverflow.com/questions/32510159/implementing-bootstrap-toggle-switch -->
         <%=b.text %>
        <%end%>
				<% end %>
			</div>



			<div class="form-row"></div>
		  <p>
			<%= form.submit "Add Name", :class => "btn btn-primary btn-block" %>
		  </p>
		  </div>
		<% end %>
		</div>
	</div>
</body>